
.news-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
}

.news-img {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 20%;
}

.news-title {
    padding: 10px;
}

.news-abstract {
    padding: 10px;
}

